{% include 'top.html' %}
         {% include 'search.html' %}

         <div class="container-fluid" style="display: flex;">
            <div class="row">
               <!-- left side element -->
               <div id="interaction" style="flex: 1;">
                  <!-- <div class="container"> -->
                     <div class="card">
                        <div class="card-header">
                           <i class="fas fa-atom"></i> Scope AI says...
                        </div>
                        <div class="card-body">
                           <p class="card-text">{{ai_response}}</p>
                        </div>
                        <div class="">
                        <form id="question-form">
                           <div class="row">
                              <div class="col-9">
                                 <input type="text" class="form-control" style="margin-left: 20px;" id="question-input" placeholder="Type your question">
                              </div>
                              <div class="col">
                                 <button type="submit" class="btn" style="background-color: #ff6b81;color: white;">Ask</button></div>
                              </div>
                        </form></div>
                     </div>
                     
               <!-- </div> -->
               </div>
               <!-- right side element -->
               <div id="exploregraph" style="flex: 2;">
                  <div class="card">
                     <div class="card-header">
                        <center><h5  id="short_description">{{short_description}}</h5></center>
                     </div>
                  <div class="card-body">{% include 'graph2.html'%}
                     <p></p>
                     <br>
                     <div id="file-explorer" class="card">
                        <div class="file-icon-bar"></div>
                        <div class="card-body">
                        <h5 class="card-title">Explorer</h5>
                        <p>
                           <span class="file-name">{{ filename }}</span><span id="file_description"> {{ file_description }}</span><span> It was created on 
                           <span class="created-info">October 12th by <span>Jay Patel</span></span>
                        </p>
                        </div>
                     </div>
                  </div>
               </div>
                  
            </div>
         </div>
      </div>
      </div>
      <script>
         document.getElementById('question-form').addEventListener('submit', function(event) {
             event.preventDefault();
             var question = document.getElementById('question-input').value;
             var fileDescription = document.getElementById('file_description').textContent;
             var shortDescription = document.getElementById('short_description').textContent;
         
             var url = '?prompt=' + encodeURIComponent(question) + '&file_description=' + encodeURIComponent(fileDescription) + '&short_description=' + encodeURIComponent(shortDescription);
             window.location.href = url;
         });
      </script>



      
</body>

</html>