{% include 'top.html' %}
         {% include 'search.html' %}
         <div class="row">
            <div class="col-md-4">
               <div class="mb-3">
                  <h5>Scope AI says...</h5>
                  <div>
                     <p>
                        {{ai_response}}
                     </p>
                  </div>
               </div>
               <div>
                  <h5>Follow up...</h5>
                  <form id="question-form">
                     <div class="form-group">
                        <input type="text" class="form-control" id="question-input" placeholder="Type your question">
                     </div>
                     <button type="submit" class="btn btn-primary">Ask</button>
                  </form>
               </div>
            </div>
            <div class="col-md-8">
               <h5>Graph View</h5>
               <img id="graph-view" class="border" style="height: 300px;width:730px;" src="/static/graph.png"></img>
               <h5 class="mt-3">Explorer</h5>
               <div id="file-explorer">
                  <p>{{ filename }}</p>
                  <p id="file_description">{{ file_description }}</p>
               </div>
            </div>
         </div>
      </div>
      <script>
         document.getElementById('question-form').addEventListener('submit', function(event) {
             event.preventDefault();
             var question = document.getElementById('question-input').value;
             var fileDescription = document.getElementById('file_description').textContent;
         
             var url = '?prompt=' + encodeURIComponent(question) + '&file_description=' + encodeURIComponent(fileDescription);
             window.location.href = url;
         });
      </script>



      
</body>

</html>