<head>
    <style> body { margin: 0; } </style>
  
    <script src="https://unpkg.com/force-graph@1.43.4/dist/force-graph.min.js"></script>
    <!--<script src="../../dist/force-graph.js"></script>-->
  </head>
  
    <div style="height: 300px;width:730px;" id="graph"></div>
  
    <script>
    
    var jsonString = "{{mappings}}";
    jsonString = jsonString.replace(/&#34;/g, '"');

    // Parse the JSON string
    var parsedObject = JSON.parse(jsonString);
    const imgs = parsedObject.map(item => {
            const img = new Image();
            img.src = item.icon;
            img.id = item.filename;
            img.link = item.filename;
            img.primary = item.primary;
            return img;
        });

        // Find the first item where "primary" is true and get its filename
        const primaryItem = parsedObject.find(item => item.primary === true);
        const primaryFilename = primaryItem ? primaryItem.icon : null;
        console.log(primaryFilename);
        var myValue;
        var xO;
        var yO;
  
      // Random connected graph
      const gData = {
        nodes: imgs.map((img, id, link) => ({ id, img, link })),
        links: [...Array(imgs.length).keys()]
          .filter(id => id)
          .map(id => ({
            link: imgs[id].id,
            source: id,
            target: Math.round(Math.random() * (id-1))
          }))
      };
      const elem = document.getElementById('graph');
      const Graph = ForceGraph()
        (elem)
        .height(300)
        .width(730)
        .nodeId('id')
        .linkWidth(3)
        .onNodeHover((node, ctx) => {
          console.log(elem.style.cursor);
          console.log("context", ctx);
        })
        .nodeCanvasObject((node, ctx) => {
            img = node.img;
            x = node.x;
            y = node.y;
            id = node.id;
            link = node.img.link;
            primary = node.img.primary;
          let size = 12;
          if (typeof myValue === 'undefined' && img.src.endsWith(primaryFilename) && typeof x !== 'undefined'){
            xO = x - size / 2;
            yO = y - size / 2;
            
          }
          // console.log(img);
          if (primary){
            size = 24;
            ctx.drawImage(img, x - size / 2, y - size / 2, 24, 24);
            ctx.font = '5px Sans-Serif'; ctx.textAlign = 'center'; ctx.textBaseline = 'middle'; ctx.fillText(link.split("/").pop(), x, (y+size/2)+4);
          } else {
            size = 12;
            // console.log(img.src);
            ctx.drawImage(img, x - size / 2, y - size / 2, size, size);
            ctx.font = '4px Sans-Serif'; ctx.textAlign = 'center'; ctx.textBaseline = 'middle'; ctx.fillText(link.split("/").pop(), x, (y+size/2)+4);
          }



          
        })
        .nodePointerAreaPaint((node, color, ctx) => {
          const size = 12;
          ctx.fillStyle = color;
          ctx.fillRect(node.x - size / 2, node.y - size / 2, size, size); // draw square as pointer trap
        })
        .onNodeClick(node => {
            // Center/zoom on node
            Graph.centerAt(node.x, node.y, 1000);
            Graph.zoom(8, 2000);
            console.log(node.img.src);
            window.location.href="/explore/" + node.img.link.split("/").pop();
        })
        .onEngineTick(node => {
          if (typeof myValue === 'undefined' && typeof xO !== 'undefined'){

            myValue = "working";
            Graph.zoomToFit(0, 30, (node) => true);
            Graph.centerAt(xO, yO); 

          }

          Graph.zoomToFit(0, 30, (node) => true);
        })
        .graphData(gData);

        
        
    </script>