<div class="mb-5 search-container">
  <div class="flex items-center overflow-hidden bg-white rounded-full shadow-md">
    <button class="flex items-center justify-center px-4 border-r">
        <i class="text-blue-500 fas fa-arrow-up"></i>
    </button>
    <input type="text" id="autocomplete" class="form-control" placeholder="Search..." oninput="handleAutocomplete(this.value)">
    <button class="flex items-center justify-center px-4">
      <i class="text-gray-500 fas fa-search"></i>
  </button>
<div id="autocomplete-results" class="autocomplete-results"></div>
  </div>
</div>

<!-- <div class="max-w-lg p-4 mx-auto">
  <div class="flex items-center overflow-hidden bg-white rounded-full shadow-md">
      <button class="flex items-center justify-center px-4 border-r">
          <i class="text-blue-500 fas fa-arrow-up"></i>
      </button>
      <input type="text" class="w-full px-4 py-2" placeholder="nociceptive receptors in drosophila methods" value="nociceptive receptors in drosophila methods">
      <button class="flex items-center justify-center px-4">
          <i class="text-gray-500 fas fa-search"></i>
      </button>
  </div> -->


  <script>
    function handleAutocomplete(searchTerm) {
      if (searchTerm.length === 0) {
        $('#autocomplete-results').empty();
        return;
      }
      
      $.ajax({
        url: '/autocomplete',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ term: searchTerm }),
        success: function(response) {
          $('#autocomplete-results').empty();
          
          response.results.forEach(function(item) {
            $('#autocomplete-results').append(
              `<a href="${item.link}"><div class="result-item">
                <img src="${item.image}" alt="result image">
                <span>${item.content}</span>
              </div></a>`
            );
          });
        },
        error: function(xhr, status, error) {
          console.error("Autocomplete error:", status, error);
          $('#autocomplete-results').empty();
        }
      });
    }
  
    $(document).on('click', function (e) {
      if (!$(e.target).closest('#autocomplete').length) {
        $('#autocomplete-results').empty();
      }
    });
  </script>